@page "/"
@using Highcharts.Blazor.Models

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<HighchartsChart Options="@chartOptions" />

@code {
    private ChartOptions chartOptions = new()
    {
        Title = new Title { Text = "My First Blazor Chart" }
    };
}
