
@using System.Runtime.InteropServices.JavaScript
@using Microsoft.JSInterop
@using Highcharts.Blazor.Services
@using Highcharts.Blazor.Models

@implements IAsyncDisposable

<div id="@ChartContainerId" class="highcharts-container"></div>


